app/views/oportunidad/oportunidad_list.html
<h3>Procesos Comerciales
   <small>Control de los procesos comerciales</small>
</h3>
<div class="row col-xs-11">
   <div class="panel">
      <div class="panel-body p0">
         <div class="mb-sm clearfix"></div>
         <div class="mb-sm clearfix">
            <label class="col-md-2 control-label">Proceso:</label>
            <div class="col-md-4">
               <select ng-model="tipoProceso.current" ng-options="item.descripcion for item in tipoProceso.data" ng-change="oportunidades.getData()" class="form-control"></select>
            </div>
            <label class="col-md-2 control-label">Estado:</label>
            <div class="col-md-4">
               <select ng-model="estado.current" ng-options="item.descripcion for item in estado.data" ng-change="oportunidades.getData()" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="panel">
      <div class="panel-heading">
         <div class="row">
            <div class="input-group m0 col-xs-6 col-sm-3 pull-left">
               <span class="input-group-addon input-sm">
                  <em class="icon-magnifier"></em>
               </span>
               <input type="text" ng-change="oportunidades.filter()" ng-model="oportunidades.filterText" class="form-control input-sm" />
            </div>
            <div class="form-group m0 col-xs-6 col-sm-9">
               <div class="pull-right">
                  <button type="button" tooltip="{{ 'app.ADD' | translate }}" ng-click="oportunidades.add()" class="btn btn-sm btn-primary">
                     <span>
                        <em class="icon-plus"></em>
                     </span>
                     <span class="hidden-xs">{{ 'app.ADD' | translate }}</span>
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="panel-body p0">
         <div class="table-responsive table-bordered">
            <table class="table table-hover wd-wide">
               <thead>
                  <tr>
                     <th>CONSECUTIVO</th>
                     <th>FECHA</th>
                     <th>CLIENTE</th>
                     <th>ASUNTO</th>
                     <th>TOTAL</th>
                     <th>ESTADO</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <td colspan="7" ng-show="oportunidades.loading" class="height-lg">
                     <p class="text-center"><i class="fa fa-spinner fa-spin fa-2x text-muted"></i>
                     </p>
                     <p class="text-center lead text-primary">{{ 'app.LOADING_TEXT' | translate }}</p>
                  </td>
                  <td colspan="7" ng-show="oportunidades.noData" class="height-lg">
                     <p class="text-center lead text-primary">{{ 'app.NO_DATA' | translate }}</p>
                  </td>
                  <tr ng-repeat="item in oportunidades.data" ng-class="{true: 'active'}[item.check]">
                     <td>{{ item.consecutivo }}</td>
                     <td>{{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}</td>
                     <td>{{ item.tercero }}</td>
                     <td>{{ item.asunto }}</td>
                     <td>{{ item.total | currency }}</td>
                     <td>
                        <span ng-if="item.estado == ESTADO_PROCESO" class="label label-primary">Proceso</span>
                        <span ng-if="item.estado == ESTADO_ANULADO" class="label label-default">Anulado</span>
                        <span ng-if="item.estado == ESTADO_CERRADO" class="label label-warning">Cerrado</span>
                        <span ng-if="item.estado == ESTADO_CANCELADO" class="label label-warning">Cancelado</span>
                     </td>
                     <td class="wd-sm">
                        <div class="ph m0 text-muted visible-inline pull-right">
                           <em tooltip="Editar " tooltip-placement="bottom" ng-click="oportunidades.edit(item)" class="icon-pencil mr"></em>
                           <em tooltip="Eliminar" tooltip-placement="bottom" ng-click="oportunidades.removeItem(item)" class="icon-trash mr text-danger"></em>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="row">
         <div ng-hide="oportunidades.paginations.numPages == 1" class="col-lg-12">
            <pagination total-items="oportunidades.paginations.totalItems" ng-model="oportunidades.paginations.currentPage" max-size="oportunidades.paginations.maxSize" boundary-links="true" rotate="false" items-per-page="oportunidades.paginations.itemsPerPage"
            previous-text="‹" next-text="›" num-pages="oportunidades.paginations.numPages" ng-change="oportunidades.changePage()" first-text="«" last-text="»" class="m pagination-sm pull-right"></pagination>
         </div>
      </div>
   </div>
</div>

master/jade/views/oportunidad/oportunidad_list.jade
h3 Procesos Comerciales
  small Control de los procesos comerciales
  
.row.col-xs-11
  .panel
    .panel-body.p0
      .mb-sm.clearfix
      .mb-sm.clearfix
        label.col-md-2.control-label Proceso:
        .col-md-4
          select.form-control(ng-model='tipoProceso.current', ng-options='item.descripcion for item in tipoProceso.data', ng-change="oportunidades.getData()")
        label.col-md-2.control-label Estado:
        .col-md-4
          select.form-control(ng-model='estado.current', ng-options='item.descripcion for item in estado.data', ng-change="oportunidades.getData()")
.row
  .panel
    .panel-heading
      .row
        .input-group.m0.col-xs-6.col-sm-3.pull-left
          span.input-group-addon.input-sm
            em.icon-magnifier
          input.form-control.input-sm(type='text' ng-change='oportunidades.filter()' ng-model='oportunidades.filterText' )
        .form-group.m0.col-xs-6.col-sm-9
          .pull-right
            button.btn.btn-sm.btn-primary(type='button', tooltip="{{ 'app.ADD' | translate }}", ng-click='oportunidades.add()')
              span: em.icon-plus
              span.hidden-xs {{ 'app.ADD' | translate }}
           
    .panel-body.p0
      .table-responsive.table-bordered
        table.table.table-hover.wd-wide
          thead
            tr
              
              th CONSECUTIVO  
              th FECHA  
              th CLIENTE                
              th ASUNTO      
              th TOTAL      
              th ESTADO                              
              th 
          tbody
            td.height-lg(colspan="7", ng-show="oportunidades.loading")
              p.text-center
                i.fa.fa-spinner.fa-spin.fa-2x.text-muted
              p.text-center.lead.text-primary {{ 'app.LOADING_TEXT' | translate }}
            td.height-lg(colspan="7", ng-show="oportunidades.noData")
              p.text-center.lead.text-primary {{ 'app.NO_DATA' | translate }}
            tr(ng-repeat="item in oportunidades.data", ng-class="{true: 'active'}[item.check]")             
              td {{ item.consecutivo }}
              td {{ item.fechaReg | date:'dd/M/yyyy hh:mm:ss' }}
              td {{ item.tercero }}              
              td {{ item.asunto  }}   
              td {{ item.total | currency }}   
              td   
               span.label.label-primary(ng-if="item.estado == ESTADO_PROCESO") Proceso
               span.label.label-default(ng-if="item.estado == ESTADO_ANULADO") Anulado
               span.label.label-warning(ng-if="item.estado == ESTADO_CERRADO") Cerrado
               span.label.label-warning(ng-if="item.estado == ESTADO_CANCELADO") Cancelado              
              td.wd-sm
                .ph.m0.text-muted.visible-inline.pull-right
                    em.icon-pencil.mr(tooltip="Editar ", tooltip-placement='bottom', ng-click='oportunidades.edit(item)')
                    em.icon-trash.mr.text-danger(tooltip="Eliminar", tooltip-placement='bottom', ng-click='oportunidades.removeItem(item)')
    .row
      .col-lg-12(ng-hide='oportunidades.paginations.numPages == 1')
          pagination.m.pagination-sm.pull-right(total-items='oportunidades.paginations.totalItems',ng-model='oportunidades.paginations.currentPage',max-size='oportunidades.paginations.maxSize',boundary-links='true',rotate='false',items-per-page='oportunidades.paginations.itemsPerPage', previous-text="‹", next-text="›", num-pages='oportunidades.paginations.numPages', ng-change='oportunidades.changePage()', first-text="«", last-text="»")
